
:root {
    --bg-color: #FFF0E0;
    --black: #000000;
    --true-blod: #FF0000;
    --wood: #9F4B37;
    --white: #FFFFFF;
}


.guillotine {
    margin: auto;
    width: 90%;
    position: relative; 
    overflow: hidden;
}

.guillotine-img{
    width: 100%;
    position: relative;
    
}

.guillotine-game {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 10%;
    justify-content: center;
    
}

.decapitate{
    margin-top: 100px;
    width: 120px;
    height: 120px;
    font-size: 2rem;
    border: none;
    background-color: var(--true-blod);
    color: var(--white);
    border-radius: 50%;
    z-index: 6;
    
    
}

.blade, #cuchilla{
position: absolute;
width: 100%;
left: 0%;
top: -80%;
z-index: 1;



}



h2{
width: 100%;
font-size: 3rem;
position: absolute;
top: 250px;

}


.head{
    position:absolute;
    width: 30%;
    top: 400px;
    left: 95px;
    
  

}

.dead-head{
    position:absolute;
    width: 40%;
    top: 440px;
    left: 190px;
    z-index: 1;
    display: none;
    
   
    

}


footer{
    width: 100%;
    
}

.edit, .restart{
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    margin: 0.4rem;
}

.prueba{
    width: 60%;
    position: absolute;
  
}
