@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

:root {
    --bg-color: #FFF0E0;
    --black: #000000;
    --true-blod: #FF0000;
    --wood: #9F4B37;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jolly Lodger', cursive;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  text-align: center;
     
}

header{
    width: 100vw;
    background-color: var(--wood);
    height: 6vh;
}


.guillotine {
    margin: auto;
    width: 90%;
    position: relative;
    
    
}

.guillotine-img{
    width: 100%;
    position: relative;
    
}



.guillotine-text {
    width: 70%;
    height: 30%;
    position: absolute;
    top: 20%;
    left: 15%;
    
}

.logo{
    width: 80%;
}

p{
    font-size: 1.3rem;
    padding: 0 1rem;
}
.play{
    margin-top: 1rem;
    padding: 1vh 6vw;
    font-size: 1.5rem;
}

.footer{
width: 100vw;
}

.copyright{
    width: 90%;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    text-align: center;
}