@import url(/css/popup-names.css);
@import url(/css/game-styles.css);
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: #FFF0E0;
    --black: #000000;
    --true-blod: #FF0000;
    --wood: #9F4B37;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jolly Lodger', cursive;
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  text-align: center;
     
}

header{
    width: 100%;
    background-color: var(--wood);
    height: 80px;
}


.guillotine {
    margin: 0 auto 0.4rem;
    width: 90%;
    position: relative;
    overflow: hidden;
    
    
}

.guillotine-img{
    width: 100%;
    position: relative;
    
}



.guillotine-text {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    
}

.logo{
    width: 95%;
}

p{
    font-size: 1.3rem;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
}
.play{
    padding: 1vh 6vw;
    font-size: 2rem;
    background-color: #FF0000;
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
}

.guillotine-wood{
    padding: 0.5rem 0;
    width: 100%;
    height:100px;
    background-color: var(--wood);
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    width: 90%;
    font-size: 0.8rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}